html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins" !important;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Poppins" !important;
}

* {
  box-sizing: border-box;
}

.black-bg-img {
  background: url("../public/assets/black-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
